<div id="animation">
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
    <div class="animation-circle"></div>
  </div>
  <script src="/assets/js/dist/categories.min.js"></script>
  <script defer="" src="/assets/js/dist/app.min.js"></script>
